/*Configuracion pagina*/

body{
    background-color: #fff;
}


/*                Utilidades               */

.bg-color-dark{
    background-color: #343a40 !important;
}

.margin-top-18{
    margin-top: 18px;
}


/*            Diseño Pagina general         */

.contenedor-main{
    display: flex;
    justify-content: center;
}

.footer{
    height: 62px;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    color: #fff;
}

.main{
    width: 70%;
    height: 800px;
    background-color: #fafcfc;
    opacity: 0.8;
    border: 1px solid #ccc;
    margin-top: -200px;
    margin-bottom: 200px;
	
	overflow-y: auto;
}

.main-principal{
    width: 70%;
    height: 1000px;
    background-color: #fafcfc;
    opacity: 0.8;
    border: 1px solid #ccc;
    margin-top: -200px;
    margin-bottom: 200px;
	display: flex;
	justify-content: center;
	
	overflow-y: auto;
}

/*           index          */

.img-hero-index{
    height: 450px;
    background-image: url("/img/hero3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*          Pagina principal (formulario)      */

.img-hero-principal{
    height: 450px;
    background-image: url("/img/hero2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

input.login{
    margin:10px;
    width: 500px;
    height: 50px;

}

.center-screen {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
.logtext{
    transform: translate(2%, 0);
}

.logbutton{
    transform: translate(400%, 0);
    background-color:gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input::-webkit-file-upload-button{
	width: 70%;
	background-color: #65fb65;
	border-color: gray;
	margin-right: 10px;
}

.uploadbutton{
	width: 50%;
	margin-bottom: 25px;
}

.actionsdiv{
	display: flex;
	justify-content: center;
}

#resultado{
	display: flex;
	justify-content: center;
	font-size: 1.2em;
}

.calcularbutton{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 50%;
}

.regbutton{
    transform: translate(270%, 0);
    background-color:gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.Register{
    width: 70%;
    height: 900px;
    background-color: #fafcfc;
    opacity: 0.8;
    border: 1px solid #ccc;
    margin-top: -300px;
    margin-bottom: 200px;
}